Repository alexandresoro/ouca: changes, and which lint-staged commands are due for each by the changed paths.
All: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: replace swc by tsup
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
  packages/common/.swcrc
  packages/common/package.json
Due: none

feat: replace swc by tsup (#585)
  package-lock.json
  packages/backend/.swcrc
  packages/backend/package.json
  packages/backend/tsup.config.ts
  packages/common/.swcrc
  packages/common/package.json
  packages/common/tsup.config.ts
  packages/eslint-config/index.js
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: tidy up for monorepo
  .gitignore
  packages/backend/.gitignore
  packages/backend/tsconfig.json
  packages/common/LICENSE
  packages/common/README.md
  packages/common/tsconfig.json
  packages/common/tsconfig.ref.json
  packages/frontend/.gitignore
Due: none

feat: setup wireit cache
  .github/workflows/build.yml
  .gitignore
  package-lock.json
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/package.json
Due: none

fix: build
  packages/backend/tsconfig.json
Due: none

ci: build backend back to main task for monorepo
  .github/workflows/build.yml
Due: none

ci: fix name
  .github/workflows/build.yml
Due: none

feat: add more flows with wireit
  .github/workflows/build.yml
  package-lock.json
  package.json
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/package.json
Due: none

ci: refactor using wireit
  .github/workflows/build.yml
  package.json
Due: none

build: migrate more elements to wireit
  packages/backend/package.json
  packages/backend/tsup.config.ts
  packages/common/package.json
  packages/frontend/package.json
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

build: improve frontend build cache hit
  package.json
Due: none

feat: fix eslint with references
  packages/backend/.eslintrc.js
  packages/backend/tsconfig.json
Due: rome ci

ci: check frontend upload flow
  .github/workflows/build.yml
Due: none

ci: cleanup separate task
  .github/workflows/build.yml
Due: none

build: fallback to default settings if host not declared
  functions/appconfig.ts
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: set fetch credentials to allow cross-domain authent cookie
  packages/frontend/src/App.tsx
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

ci: add frontend build without check for cloudflare
  packages/frontend/package.json
Due: none

feat: remove unused redirects file
  packages/frontend/public/_redirects
Due: none

feat: setup robots config
  packages/frontend/index.html
  packages/frontend/public/robots.txt
Due: none

ci: remove frontend release upload
  .github/workflows/build.yml
  .vscode/settings.json
Due: none

ci: remove arm64 build as unused and eats too much build time
  .github/workflows/build.yml
Due: none

ci: fix secrets
  .github/workflows/build.yml
Due: none

ci: fix image name
  .github/workflows/build.yml
Due: none

ci: fix secret and image name
  .github/workflows/build.yml
Due: none

ci: pin ubuntu runner version
  .github/workflows/build.yml
Due: none

ci: fix build
  .github/workflows/build.yml
Due: none

ci: fix dockerfile for prisma
  Dockerfile
Due: none

ci: add concurrency setting on docker build to prevent image build reorder
  .github/workflows/build.yml
Due: none

fix: tsup config to output esm
  packages/backend/tsup.config.ts
  packages/common/tsup.config.ts
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

fix: disable lib typecheck
  packages/common/tsconfig.ref.json
Due: none

feat: improve a bit login page responsiveness
  packages/frontend/src/App.tsx
  packages/frontend/src/components/LoginPage.tsx
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: start integrating tailwindcss
  .vscode/extensions.json
  package-lock.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/package.json
  packages/frontend/postcss.config.cjs
  packages/frontend/src/App.tsx
  packages/frontend/src/components/Header.tsx
  packages/frontend/src/components/LoginPage.tsx
  packages/frontend/src/components/SettingsPage.tsx
  packages/frontend/src/components/manage/common/ManageTopBar.tsx
  packages/frontend/src/components/utils/CenteredFlexBox.tsx
  packages/frontend/src/components/utils/FlexSpacer.tsx
  packages/frontend/src/components/utils/RequireAuth.tsx
  packages/frontend/src/index.css
  packages/frontend/tailwind.config.cjs
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

fix: formatting
  packages/frontend/postcss.config.cjs
Due: none

feat: use tailwind on login page
  packages/frontend/src/App.tsx
  packages/frontend/src/components/LoginPage.tsx
  packages/frontend/src/components/SettingsPage.tsx
  packages/frontend/src/components/utils/RequireAuth.tsx
  packages/frontend/src/index.css
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: use tailwind for layout
  packages/frontend/src/components/Layout.tsx
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: migrate some header part to tailwind
  packages/frontend/src/components/Header.tsx
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

feat: replace styled components with tailwind
  packages/frontend/src/components/utils/PrimaryAvatar.ts
  packages/frontend/src/components/utils/PrimaryAvatar.tsx
  packages/frontend/src/components/utils/PrimaryIconButton.ts
  packages/frontend/src/components/utils/PrimaryIconButton.tsx
  packages/frontend/src/components/utils/StyledPanelHeader.tsx
  packages/frontend/src/components/view/DonneeDetailsRow.tsx
Due: rome ci, eslint, vitest related --watch=false --passWithNoTests

Path conditions:
  rome ci: any of: *.{ts,tsx,js}
  eslint: any of: *.{ts,tsx}
  vitest related --watch=false --passWithNoTests: any of: *.{ts,tsx}
