Repository alexandresoro/ouca: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-frontend, eslint-backend, biome

lefthook.yml:

pre-commit:
  commands:
    eslint-frontend:
      root: "packages/frontend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    eslint-backend:
      root: "packages/backend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    test-frontend:
      root: "packages/frontend/"
      run: pnpm test
    test-common:
      root: "packages/common/"
      run: pnpm test
    test-backend:
      root: "packages/backend/"
      run: pnpm test

chore: remove unused and deprecated useApiInfiniteQuery
  packages/frontend/src/hooks/api/useApiInfiniteQuery.ts
  packages/frontend/src/services/api/useApiUrl.ts
  packages/frontend/src/utils/fetch-api.ts
Due: eslint-frontend, biome

chore: remove @tanstack/react-query
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  pnpm-lock.yaml
Due: eslint-frontend, biome

chore: cleanup unused code
  packages/frontend/src/services/api/useApiInvalidateCache.ts
Due: eslint-frontend, biome

chore: bump biome schema
  biome.json
  packages/frontend/biome.json
Due: biome

chore: bump node version
  package.json
Due: biome

chore: bump pnpm version
  package.json
Due: biome

chore: remove some biome liniting warnings
  packages/frontend/src/features/import/ImportInstructionsPanel.tsx
  packages/frontend/src/features/maps/localities-layers.ts
  packages/frontend/src/features/observation/entry/entry-map/EntryMap.tsx
  packages/frontend/src/features/observation/inventoryFormAtoms.ts
Due: eslint-frontend, biome

chore: ignore one liniting issue
  packages/frontend/src/hooks/useMediaQuery.ts
Due: eslint-frontend, biome

feat(fastify): adjust caching on geojson localities
  packages/backend/src/application/http/controllers/geojson-controller.ts
Due: eslint-backend, biome

fix(geojson): disable etag bahvior as implementation is not working as expected https://github.com/fastify/fastify-caching/issues/16
  packages/backend/src/application/http/controllers/geojson-controller.ts
Due: eslint-backend, biome

fix(fastify): proper etag handling for geojson
  packages/backend/package.json
  packages/backend/src/application/http/controllers/geojson-controller.ts
  packages/backend/src/utils/crypto.ts
  pnpm-lock.yaml
Due: eslint-backend, biome

feat(fastify): rely on sensible plugin for caching to avoid possible clashes on etags
  packages/backend/package.json
  packages/backend/src/application/http/controllers/geojson-controller.ts
  packages/backend/src/infrastructure/fastify/fastify.ts
  pnpm-lock.yaml
Due: eslint-backend, biome

feat(geojson): work with buffer to increase performance
  packages/backend/src/application/http/controllers/geojson-controller.ts
  packages/backend/src/application/interfaces/locality-geojson-repository-interface.ts
  packages/backend/src/application/services/locality/geojson-service.ts
  packages/backend/src/infrastructure/repositories/locality/locality-geojson-repository.ts
Due: eslint-backend, biome

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

feat(sentry): try to inject release differently this is to avoid injecting sentry code in every file and could help w/ reusing unchanged bundles
  .github/workflows/_deploy-cloudflare.yml
  packages/frontend/index.html
  packages/frontend/src/services/sentry/sentry.tsx
  packages/frontend/vite.config.mts
Due: eslint-frontend, biome

docs: small rewrite
  README.md
Due: none

feat: use vite plugin to set version to improve hash reuse this is because the VITE_ env vars are written inside the bundled code, so setting the version like that would break that
  packages/frontend/index.html
  packages/frontend/src/@types/window.d.ts
  packages/frontend/src/services/sentry/sentry.tsx
  packages/frontend/vite.config.mts
Due: eslint-frontend, biome

fix: variable used to set release
  .github/workflows/_deploy-cloudflare.yml
Due: none

fix: variable name for sentry release
  packages/frontend/vite.config.mts
Due: none

feat: remove some overkill lazy loading
  packages/frontend/src/router/routes.tsx
Due: eslint-frontend, biome

feat: experiment deps chunks to improve reuse of deps
  packages/frontend/vite.config.mts
Due: none

fix(entry):regression on create from existing inventory
  packages/frontend/src/features/observation/entry/new-entry-form-container/NewEntryFormContainer.tsx
Due: eslint-frontend, biome

feat: rework code chunks and lazy loading
  packages/frontend/src/router/routes.tsx
  packages/frontend/vite.config.mts
Due: eslint-frontend, biome

fix: remove pattern to get config outside of atom because it might be hoisted too soon without being resolved, so it may not be available
  packages/frontend/src/features/maps/MapInstance.tsx
  packages/frontend/src/features/maps/map-style-providers.ts
  packages/frontend/src/services/config/config.ts
Due: eslint-frontend, biome

ci: export built artifact on frontend
  .github/workflows/_build-frontend.yml
Due: none

ci: allow build frontend job to build w/ sentry
  .github/workflows/_build-frontend.yml
  .github/workflows/validate-pr.yaml
Due: none

ci: add build frontend step to branch job
  .github/workflows/build-branch.yml
Due: none

ci: fix flow name
  .github/workflows/build-branch.yml
  .github/workflows/validate-pr.yaml
Due: none

ci: start implementing deploy based on wrangler
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/build-branch.yml
  .github/workflows/validate-pr.yaml
Due: none

ci: test publish w/ wrangler action
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/_deploy-cloudflare.yml
Due: none

ci: fix missing pnpm from wrangler
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

ci: test workaround pnpm
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

fix: setup proper node version
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

ci: silence warning
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

ci: add command sha for wrangler
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

ci: test environment setup
  .github/workflows/build-branch.yml
Due: none

ci: test environment
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/build-branch.yml
Due: none

ci: add deployment url
  .github/workflows/_deploy-cloudflare-pages.yml
Due: none

dumb test
  README.md
Due: none
