Repository alexandresoro/ouca: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-frontend, eslint-backend, biome

lefthook.yml:

pre-commit:
  commands:
    eslint-frontend:
      root: "packages/frontend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    eslint-backend:
      root: "packages/backend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    test-frontend:
      root: "packages/frontend/"
      run: pnpm test
    test-common:
      root: "packages/common/"
      run: pnpm test
    test-backend:
      root: "packages/backend/"
      run: pnpm test

chore: cleanup some code
  packages/frontend/src/features/manage/common/TableCellActionButtons.tsx
Due: eslint-frontend, biome

chore: cleanup editable status and user roles
  packages/backend/src/application/interfaces/age-repository-interface.ts
  packages/backend/src/application/interfaces/sex-repository-interface.ts
  packages/backend/src/application/interfaces/weather-repository-interface.ts
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/entities-utils.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service-reshape.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/observer/observer-service.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.ts
  packages/backend/src/domain/entity-access/entity-access.test.ts
  packages/backend/src/domain/entity-access/entity-access.ts
  packages/backend/src/domain/user/logged-user.ts
  packages/backend/src/infrastructure/repositories/age/age-repository.ts
  packages/backend/src/infrastructure/repositories/sex/sex-repository.ts
Due: eslint-backend, biome

chore: remove lint issue
  packages/backend/src/application/http/controllers/species-controller.ts
Due: eslint-backend, biome

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci: add build frontend step on PRs to detect failing frontend builds
  .github/workflows/_build-frontend.yml
  .github/workflows/validate-pr.yaml
Due: none

Revert "chore(deps): bump protomaps-themes-base (#2285)"
  packages/frontend/package.json
  pnpm-lock.yaml
Due: biome

Revert "chore(deps): bump protomaps-themes-base (#2285)" (#2287)
  packages/frontend/package.json
  pnpm-lock.yaml
Due: biome

ci: only run pnpm maintenance once per week
  .github/workflows/pnpm-maintenance.yml
Due: none

chore: cleanup some default exports
  packages/frontend/src/features/observation/entry/entry-map/EntryMap.tsx
  packages/frontend/src/features/observation/inventory/last-inventory/LastInventory.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterAges.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterBehaviors.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterClasses.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterDepartments.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterEnvironments.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterLocalities.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterObservers.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterSexes.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterSpecies.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterTowns.tsx
  packages/frontend/src/services/api/useApiFetch.ts
  packages/frontend/src/services/api/useApiInvalidateCache.ts
  packages/frontend/src/services/api/useApiMutation.ts
  packages/frontend/src/services/api/useApiQuery.ts
  packages/frontend/src/services/api/useApiUrl.ts
  packages/frontend/src/services/api/useQueryWithAuth.ts
  packages/frontend/src/utils/fetch-api.ts
Due: eslint-frontend, biome

chore: remove some biome ignores
  packages/frontend/src/features/observation/inventory/inventory-page-entries-panel/InventoryPageEntriesPanel.tsx
Due: eslint-frontend, biome

chore: remove some eslint ignore
  packages/backend/src/infrastructure/bullmq/queues.ts
  packages/backend/src/infrastructure/umzug/umzug-instance.ts
  packages/frontend/src/features/observation/entry/entry-map/EntryMap.tsx
  packages/frontend/src/hooks/api/useApiMutation.ts
  packages/frontend/src/services/altitude/providers/ign-alticodage-service.ts
  packages/frontend/src/utils/map/bounding-polygon.ts
Due: eslint-frontend, eslint-backend, biome

chore: remove eslint-plugin-import not pretty useful and partly covered by biome for our needs
  packages/backend/.eslintrc.cjs
  packages/backend/src/infrastructure/fastify/fastify.ts
  packages/backend/src/infrastructure/kysely/kysely.ts
  packages/backend/src/utils/export-excel-utils.ts
  packages/backend/src/utils/utils.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/src/i18n.ts
  pnpm-lock.yaml
Due: eslint-frontend, eslint-backend, biome

feat: enforce naming convention
  biome.json
  packages/backend/src/application/http/controllers/ages-controller.ts
  packages/backend/src/application/http/controllers/behaviors-controller.ts
  packages/backend/src/application/http/controllers/classes-controller.ts
  packages/backend/src/application/http/controllers/departments-controller.ts
  packages/backend/src/application/http/controllers/distance-estimates-controller.ts
  packages/backend/src/application/http/controllers/download-controller.ts
  packages/backend/src/application/http/controllers/entries-controller.ts
  packages/backend/src/application/http/controllers/environments-controller.ts
  packages/backend/src/application/http/controllers/inventories-controller.ts
  packages/backend/src/application/http/controllers/localities-controller.ts
  packages/backend/src/application/http/controllers/number-estimates-controller.ts
  packages/backend/src/application/http/controllers/observers-controller.ts
  packages/backend/src/application/http/controllers/sexes-controller.ts
  packages/backend/src/application/http/controllers/species-controller.ts
  packages/backend/src/application/http/controllers/towns-controller.ts
  packages/backend/src/application/http/controllers/weathers-controller.ts
  packages/backend/src/application/services/export/export-service.ts
  packages/backend/src/domain/oidc/oidc-user.ts
  packages/backend/src/infrastructure/config/database-config.ts
  packages/backend/src/infrastructure/config/logger-config.ts
  packages/backend/src/infrastructure/config/oidc-config.ts
  packages/backend/src/infrastructure/config/redis-config.ts
  packages/backend/src/infrastructure/config/sentry-config.ts
  packages/backend/src/infrastructure/config/server-config.ts
  packages/backend/src/infrastructure/kysely/kysely.ts
  packages/backend/src/infrastructure/oidc/oidc-introspect-access-token.ts
  packages/backend/src/infrastructure/oidc/zitadel/oidc-zitadel.ts
  packages/cloudflare-functions/src/appconfig.ts
  packages/common/src/api/me.ts
  packages/frontend/biome.json
Due: eslint-backend, biome

feat(notifications): rationalize & remove context
  packages/frontend/src/contexts/SnackbarContext.ts
  packages/frontend/src/features/Layout.tsx
  packages/frontend/src/features/manage/age/AgePage.tsx
  packages/frontend/src/features/manage/classe/ClassePage.tsx
  packages/frontend/src/features/manage/commune/CommuneEdit.tsx
  packages/frontend/src/features/manage/commune/CommunePage.tsx
  packages/frontend/src/features/manage/comportement/ComportementPage.tsx
  packages/frontend/src/features/manage/departement/DepartementPage.tsx
  packages/frontend/src/features/manage/espece/EspeceEdit.tsx
  packages/frontend/src/features/manage/espece/EspecePage.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistancePage.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombrePage.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitEdit.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitPage.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitUpdate.tsx
  packages/frontend/src/features/manage/meteo/MeteoPage.tsx
  packages/frontend/src/features/manage/milieu/MilieuPage.tsx
  packages/frontend/src/features/manage/observateur/ObservateurPage.tsx
  packages/frontend/src/features/manage/sexe/SexePage.tsx
  packages/frontend/src/features/notifications/Notification.ts
  packages/frontend/src/features/notifications/NotificationSnackbar.tsx
  packages/frontend/src/features/notifications/notificationAtoms.ts
  packages/frontend/src/features/observation/entry/new-entry-form-container/NewEntryFormContainer.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-entries-panel/InventoryPageEntriesPanel.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-panel/InventoryPagePanel.tsx
  packages/frontend/src/features/search/search-entries-table/SearchEntriesTable.tsx
  packages/frontend/src/features/settings/SettingsPage.tsx
  packages/frontend/src/hooks/useNotifications.ts
  packages/frontend/src/hooks/useSnackbar.ts
Due: eslint-frontend, biome

chore: mark tk-query hooks as deprecated for swr ones
  packages/frontend/src/hooks/api/useApiMutation.ts
  packages/frontend/src/hooks/api/useApiQuery.ts
Due: eslint-frontend, biome

feat: poc for simpler export hook
  packages/frontend/src/features/manage/age/AgePage.tsx
  packages/frontend/src/services/api/export/useApiExportEntities.ts
  packages/frontend/src/services/api/useApiFetchResponse.ts
Due: eslint-frontend, biome

fix: species count and ordering with filters
  packages/backend/src/application/http/controllers/species-controller.ts
  packages/backend/src/infrastructure/repositories/species/species-repository.ts
  packages/common/src/api/species.ts
  packages/frontend/src/features/search/search-species-table/SearchSpeciesTableRow.tsx
  packages/frontend/src/services/api/species/api-species-queries.ts
Due: eslint-frontend, eslint-backend, biome

feat(export): migrate fetcher
  packages/frontend/src/features/manage/age/AgePage.tsx
  packages/frontend/src/features/manage/classe/ClassePage.tsx
  packages/frontend/src/features/manage/commune/CommunePage.tsx
  packages/frontend/src/features/manage/comportement/ComportementPage.tsx
  packages/frontend/src/features/manage/departement/DepartementPage.tsx
  packages/frontend/src/features/manage/espece/EspecePage.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistancePage.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombrePage.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitPage.tsx
  packages/frontend/src/features/manage/meteo/MeteoPage.tsx
  packages/frontend/src/features/manage/milieu/MilieuPage.tsx
  packages/frontend/src/features/manage/observateur/ObservateurPage.tsx
  packages/frontend/src/features/manage/sexe/SexePage.tsx
  packages/frontend/src/services/api/export/api-export-queries.ts
Due: eslint-frontend, biome

feat: implement poc infinite query w/ swr
  packages/frontend/src/hooks/api/useApiInfiniteQuery.ts
  packages/frontend/src/services/api/age/api-age-queries.ts
  packages/frontend/src/services/api/useApiInfiniteQuery.ts
Due: eslint-frontend, biome

feat(export): beta export entries w/ fixes
  packages/backend/src/application/http/controllers/generate-export-controllers.ts
  packages/backend/src/application/services/export/export-service.ts
  packages/backend/src/utils/time-utils.test.ts
  packages/backend/src/utils/time-utils.ts
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/search/SearchPage.tsx
  packages/frontend/src/services/api/export/api-export-queries.ts
  packages/frontend/src/services/app-features/features.ts
Due: eslint-frontend, eslint-backend, biome

feat: add margin
  packages/frontend/src/features/observation/inventory/inventory-page-entries-panel/InventoryPageEntriesPanel.tsx
Due: eslint-frontend, biome

feat: redesign inventory details panel
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/observation/inventory/inventory-summary-panel/InventorySummaryPanel.tsx
  packages/frontend/src/index.css
Due: eslint-frontend, biome

feat: redesign entry summary
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/components/base/Avatar.tsx
  packages/frontend/src/components/base/ItemWithAvatar.tsx
  packages/frontend/src/components/common/Avatar.tsx
  packages/frontend/src/features/observation/entry/entry-summary-content/EntrySummaryContent.tsx
  packages/frontend/src/features/observation/entry/entry-summary-panel/EntrySummaryPanel.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-entry-element/InventoryPageEntryElement.tsx
  packages/frontend/src/index.css
Due: eslint-frontend, biome

feat: add padding
  packages/frontend/src/features/observation/inventory/inventory-page-entry-element/InventoryPageEntryElement.tsx
Due: eslint-frontend, biome

feat: remove unused props
  packages/frontend/src/features/observation/inventory/inventory-page-entries-panel/InventoryPageEntriesPanel.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-entry-element/InventoryPageEntryElement.tsx
Due: eslint-frontend, biome

feat: remove species code
  packages/frontend/src/features/observation/entry/entry-summary-content/EntrySummaryContent.tsx
Due: eslint-frontend, biome

feat: display scientific name
  packages/frontend/src/features/observation/entry/entry-details-dialog-container/EntryDetailsDialogContainer.tsx
Due: eslint-frontend, biome

feat: capitalize first letter in tooltips
  packages/frontend/src/features/observation/inventory/inventory-page-entry-element/InventoryPageEntryElement.tsx
Due: eslint-frontend, biome

feat: remove observer column from search entries table
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/search/search-entries-table/SearchEntriesTable.tsx
  packages/frontend/src/features/search/search-entries-table/SearchEntriesTableRow.tsx
  packages/frontend/src/features/search/search-species-table/SearchSpeciesTable.tsx
Due: eslint-frontend, biome

feat(entity): add some swr entity queries
  packages/frontend/src/services/api/age/api-age-queries.ts
  packages/frontend/src/services/api/department/api-department-queries.ts
  packages/frontend/src/services/api/number-estimate/api-number-estimate-queries.ts
  packages/frontend/src/services/api/observer/api-observer-queries.ts
  packages/frontend/src/services/api/sex/api-sex-queries.ts
Due: eslint-frontend, biome

feat(settings): migrate queries to services ones
  packages/frontend/src/features/settings/SettingsPage.tsx
  packages/frontend/src/services/api/sex/api-sex-queries.ts
Due: eslint-frontend, biome

fix(entities): allow owner to delete owned data
  packages/frontend/src/features/manage/age/AgeTableRow.tsx
  packages/frontend/src/features/manage/classe/SpeciesClassTableRow.tsx
  packages/frontend/src/features/manage/commune/TownTableRow.tsx
  packages/frontend/src/features/manage/comportement/BehaviorTableRow.tsx
  packages/frontend/src/features/manage/departement/DepartmentTableRow.tsx
  packages/frontend/src/features/manage/espece/SpeciesTableRow.tsx
  packages/frontend/src/features/manage/estimation-distance/DistanceEstimateTableRow.tsx
  packages/frontend/src/features/manage/estimation-nombre/NumberEstimateTableRow.tsx
  packages/frontend/src/features/manage/lieu-dit/LocalityTableRow.tsx
  packages/frontend/src/features/manage/meteo/WeatherTableRow.tsx
  packages/frontend/src/features/manage/milieu/EnvironmentTableRow.tsx
  packages/frontend/src/features/manage/observateur/ObserverTableRow.tsx
  packages/frontend/src/features/manage/sexe/SexTableRow.tsx
Due: eslint-frontend, biome

fix: ugly actions column
  packages/frontend/src/features/search/search-entries-table/SearchEntriesTableRow.tsx
Due: eslint-frontend, biome

chore: reuse existing hooks
  packages/frontend/src/features/search/search-filter-panel/SearchFilterAges.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterDepartments.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterSexes.tsx
Due: eslint-frontend, biome

feat(town): on edit, migrate department to new query
  packages/frontend/src/features/manage/commune/CommuneEdit.tsx
Due: eslint-frontend, biome

feat(species-classes): migrate to new query
  packages/frontend/src/features/manage/espece/EspeceEdit.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterClasses.tsx
  packages/frontend/src/services/api/species-class/api-species-class-queries.ts
Due: eslint-frontend, biome

feat(locality): migrate edit to new services
  packages/frontend/src/features/manage/lieu-dit/LieuDitEdit.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterTowns.tsx
  packages/frontend/src/services/api/town/api-town-queries.ts
Due: eslint-frontend, biome

feat: rename import page component
  packages/frontend/src/features/import/ImportPage.tsx
Due: eslint-frontend, biome

fix(locality): focus on locality update + remove query code
  packages/frontend/src/features/manage/lieu-dit/LieuDitPage.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitUpdate.tsx
Due: eslint-frontend, biome
