Repository alexandresoro/ouca: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-frontend, eslint-backend, biome

eslint-frontend:
  run: pnpm eslint {staged_files}

eslint-backend:
  run: pnpm eslint {staged_files}

biome:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

ci: remove old action deployment
  .github/workflows/_deploy-cloudflare.yml
  .github/workflows/build-branch.yml
  .github/workflows/validate-pr.yaml
Due: none

ci: add environment to build frontend too
  .github/workflows/_build-frontend.yml
Due: none

chore(dependabot): set updates time
  .github/dependabot.yml
Due: none

feat(export): add context around export limits
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/search/SearchPage.tsx
Due: eslint-frontend, biome

feat(inventory): move to proper storage of string ids
  packages/backend/migrations/2024.04.24T20.04.37.change_type_inventory_id.sql
  packages/backend/migrations/down/2024.04.24T20.04.37.change_type_inventory_id.sql
  packages/backend/src/application/http/controllers/entries-controller.ts
  packages/backend/src/application/http/controllers/inventories-controller.ts
  packages/backend/src/application/interfaces/inventory-repository-interface.ts
  packages/backend/src/application/services/inventory/inventory-service.test.ts
  packages/backend/src/application/services/inventory/inventory-service.ts
  packages/backend/src/infrastructure/kysely/database/Entry.ts
  packages/backend/src/infrastructure/kysely/database/Inventory.ts
  packages/backend/src/infrastructure/kysely/database/InventoryAssociate.ts
  packages/backend/src/infrastructure/kysely/database/InventoryWeather.ts
  packages/backend/src/infrastructure/repositories/entry/entry-repository.ts
  packages/backend/src/infrastructure/repositories/inventory/inventory-repository-reshape.ts
  packages/backend/src/infrastructure/repositories/inventory/inventory-repository.ts
  packages/backend/src/infrastructure/repositories/locality/locality-repository.ts
  packages/backend/src/infrastructure/repositories/search-criteria.ts
Due: eslint-backend, biome

ci: fix env for trigger
  .github/workflows/build-branch.yml
Due: none

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

feat: use packagemanager field for pnpm
  .github/workflows/_build-frontend.yml
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/_validate.yml
  .github/workflows/build-branch.yml
  .github/workflows/pnpm-maintenance.yml
  Dockerfile
  package.json
Due: biome

feat: use packagemanager field for pnpm (#2358)
  .github/workflows/_build-frontend.yml
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/_validate.yml
  .github/workflows/build-branch.yml
  .github/workflows/pnpm-maintenance.yml
  Dockerfile
  package.json
Due: biome

feat: declare pnpm version in tool versions
  .tool-versions
Due: none

feat: use tool-versions instead of volta
  .tool-versions
  package.json
  packages/backend/package.json
Due: biome

ci: harmonize source of truth for node version
  .github/workflows/build-branch.yml
Due: none

ci: fix image version
  .github/workflows/build-branch.yml
Due: none

fix: try another fix for node version extract
  .github/workflows/build-branch.yml
Due: none

cI: small typo
  .github/workflows/build-branch.yml
Due: none

ci: use node version from .tool-versions
  .github/workflows/_build-frontend.yml
  .github/workflows/_deploy-cloudflare-pages.yml
  .github/workflows/_validate.yml
  .github/workflows/build-branch.yml
  .github/workflows/pnpm-maintenance.yml
Due: none

chore: allow caret version for node engine
  package.json
Due: biome

chore: expose rc file for lefthook used on local env with commits from IDE where PATH needs to be extended to find pnpm
  lefthook.yml
Due: none

feat: improve display for no observations message
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/observation/inventory/last-inventory/LastInventory.tsx
Due: eslint-frontend, biome

feat: improve error display
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/ErrorBoundary.tsx
  packages/frontend/src/features/observation/inventory/inventory-page/InventoryPage.tsx
  packages/frontend/tailwind.config.cjs
Due: eslint-frontend, biome

feat: improve alerts display
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/ErrorBoundary.tsx
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
  packages/frontend/src/features/observation/inventory/inventory-page/InventoryPage.tsx
  packages/frontend/src/features/observation/inventory/last-inventory/LastInventory.tsx
  packages/frontend/src/index.css
  packages/frontend/tailwind.config.cjs
Due: eslint-frontend, biome

feat: change theme colors
  packages/frontend/src/components/common/DeletionConfirmationDialog.tsx
  packages/frontend/src/features/notifications/NotificationSnackbar.tsx
  packages/frontend/src/index.css
  packages/frontend/tailwind.config.cjs
Due: eslint-frontend, biome

feat: change tooltip color
  packages/frontend/src/features/search/SearchPage.tsx
Due: eslint-frontend, biome

feat(altitude): add backend api endpoint to retrieve altitude
  packages/backend/src/application/http/api-routes.ts
  packages/backend/src/application/http/controllers/altitude-controller.ts
  packages/backend/src/application/interfaces/altitude-fetcher-interface.ts
  packages/backend/src/application/services/altitude/altitude-service.ts
  packages/backend/src/application/services/services.ts
  packages/backend/src/domain/altitude/altitude.ts
  packages/backend/src/infrastructure/altitude/altitude-fetcher.ts
  packages/backend/src/infrastructure/altitude/providers/ign-alticodage.ts
  packages/common/src/api/altitude.ts
Due: eslint-backend, biome

feat(auth): rework oidc user atoms
  packages/frontend/src/services/auth/getUser.ts
  packages/frontend/src/services/auth/oidc-config.ts
Due: eslint-frontend, biome

feat(api): expose atom for api url path
  packages/frontend/src/services/api/api-url-atom.ts
Due: eslint-frontend, biome

feat(altitude): handle unsupported area from ign
  packages/backend/src/application/http/controllers/altitude-controller.ts
  packages/backend/src/domain/altitude/altitude.ts
  packages/backend/src/infrastructure/altitude/providers/ign-alticodage.ts
Due: eslint-backend, biome

feat(altitude): use backend provided coordinatesService + handle not supported zone
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/observation/inventory/inventory-form/InventoryFormLocation.tsx
  packages/frontend/src/features/observation/inventoryFormAtoms.ts
  packages/frontend/src/services/altitude/altitude-service.ts
  packages/frontend/src/services/altitude/providers/ign-alticodage-service.ts
  packages/frontend/src/services/api/altitude/api-altitude-queries.ts
Due: eslint-frontend, biome

fix(locality): sort with localities w/ same name
  packages/backend/src/infrastructure/repositories/locality/locality-repository.ts
Due: eslint-backend, biome

feat: remove eslint
  .github/dependabot.yml
  .github/workflows/_validate.yml
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yml
  packages/backend/.eslintrc.cjs
  packages/backend/package.json
  packages/backend/src/application/http/hooks/handle-authorization-hook.ts
  packages/backend/src/application/services/import/entities/import-service.ts
  packages/backend/src/application/services/locality/geojson-service.ts
  packages/backend/src/infrastructure/bullmq/queues.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/package.json
  packages/frontend/src/@types/i18next.d.ts
  packages/frontend/src/@types/react-augment.d.ts
  packages/frontend/src/@types/window.d.ts
  packages/frontend/src/components/form/FormAutocomplete.tsx
  packages/frontend/src/components/form/FormAutocompleteMultiple.tsx
  packages/frontend/src/components/form/FormSelect.tsx
  packages/frontend/src/features/AuthHandler.tsx
  packages/frontend/src/features/header/HeaderActions.tsx
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/maps/MapInstance.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-panel/InventoryPagePanel.tsx
  packages/frontend/src/features/session-expired/SessionExpired.tsx
  pnpm-lock.yaml
Due: eslint-frontend, eslint-backend, biome

feat: remove eslint (#2405)
  .github/dependabot.yml
  .github/workflows/_validate.yml
  .vscode/extensions.json
  .vscode/settings.json
  lefthook.yml
  packages/backend/.eslintrc.cjs
  packages/backend/package.json
  packages/backend/src/application/http/hooks/handle-authorization-hook.ts
  packages/backend/src/application/services/import/entities/import-service.ts
  packages/backend/src/application/services/locality/geojson-service.ts
  packages/backend/src/infrastructure/bullmq/queues.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/frontend/.eslintrc.cjs
  packages/frontend/package.json
  packages/frontend/src/@types/i18next.d.ts
  packages/frontend/src/@types/react-augment.d.ts
  packages/frontend/src/@types/window.d.ts
  packages/frontend/src/components/form/FormAutocomplete.tsx
  packages/frontend/src/components/form/FormAutocompleteMultiple.tsx
  packages/frontend/src/components/form/FormSelect.tsx
  packages/frontend/src/features/AuthHandler.tsx
  packages/frontend/src/features/header/HeaderActions.tsx
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/maps/MapInstance.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-panel/InventoryPagePanel.tsx
  packages/frontend/src/features/session-expired/SessionExpired.tsx
  pnpm-lock.yaml
Due: eslint-frontend, eslint-backend, biome

feat(switch): update to headless 2.x
  packages/frontend/src/components/base/Switch.tsx
Due: eslint-frontend, biome

feat(menu): migrate to headless 2.x
  packages/frontend/src/features/observation/inventory/inventory-page-panel/InventoryPagePanel.tsx
Due: eslint-frontend, biome

feat(dialog): migrate to headless 2.x
  packages/frontend/src/components/common/DeletionConfirmationDialog.tsx
  packages/frontend/src/features/manage/common/EntityUpsertDialog.tsx
  packages/frontend/src/features/observation/entry/entry-details-dialog-container/EntryDetailsDialogContainer.tsx
  packages/frontend/src/features/observation/entry/new-entry-dialog-container/NewEntryDialogContainer.tsx
  packages/frontend/src/features/observation/entry/update-entry-dialog-container/UpdateEntryDialogContainer.tsx
  packages/frontend/src/features/observation/inventory/inventory-edit-dialog-container/InventoryEditDialogContainer.tsx
Due: eslint-frontend, biome

feat(disclosure): migrate to headless 2.x
  packages/frontend/src/features/observation/inventory/inventory-page-entry-element/InventoryPageEntryElement.tsx
Due: eslint-frontend, biome

chore: remove unneeded z-indexes
  packages/frontend/src/features/header/Header.tsx
  packages/frontend/src/features/header/HeaderActions.tsx
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/observation/inventory/inventory-page-panel/InventoryPagePanel.tsx
Due: eslint-frontend, biome

feat(tab): migrate to headless 2.x
  packages/frontend/src/features/search/SearchPage.tsx
Due: eslint-frontend, biome

feat(menu): migrate headers to headless 2.x
  packages/frontend/src/features/header/HeaderActions.tsx
  packages/frontend/src/features/header/HeaderSettings.tsx
Due: eslint-frontend, biome

fix: avoid weird selection
  packages/frontend/src/components/base/select/Select.tsx
Due: eslint-frontend, biome

Path conditions:
  eslint-frontend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^packages/frontend/
  eslint-backend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^packages/backend/
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
