Repository alexandresoro/ouca: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-frontend, eslint-backend, biome

eslint-frontend:
  run: pnpm eslint {staged_files}

eslint-backend:
  run: pnpm eslint {staged_files}

biome:
  run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

chore(import): add additional
  packages/backend/src/application/services/import/entities/import-donnee-service.ts
Due: eslint-backend, biome

fix(import): expose import error
  packages/backend/src/application/services/import/entities/import-donnee-service.ts
Due: eslint-backend, biome

fix(import): fix import date issue w/ timezone
  packages/backend/src/application/services/import/entities/objects/imported-donnee.object.ts
Due: eslint-backend, biome

fix(import): check on custom coordinates was incorrect
  packages/backend/src/application/services/import/entities/import-donnee-service.ts
  packages/common/src/coordinates-system/coordinates-helper.spec.ts
  packages/common/src/coordinates-system/coordinates-helper.ts
Due: eslint-backend, biome

feat(settings): refactor user settings
  packages/common/src/api/settings.ts
  packages/frontend/src/contexts/UserSettingsContext.tsx
  packages/frontend/src/features/AuthHandler.tsx
  packages/frontend/src/features/new-account/NewAccount.tsx
  packages/frontend/src/features/observation/entry/entry-form/EntryForm.tsx
  packages/frontend/src/features/observation/inventory/inventory-form/InventoryForm.tsx
  packages/frontend/src/features/settings/SettingsPage.tsx
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/hooks/useUserSettingsContext.ts
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/services/api/me/api-me-queries.ts
  packages/frontend/src/services/api/me/settingsAtom.ts
  packages/frontend/src/services/api/settings/api-settings-queries.ts
Due: eslint-frontend, biome

feat(settings): refactor user settings (#2220)
  packages/common/src/api/settings.ts
  packages/frontend/src/contexts/UserSettingsContext.tsx
  packages/frontend/src/features/AuthHandler.tsx
  packages/frontend/src/features/new-account/NewAccount.tsx
  packages/frontend/src/features/observation/entry/entry-form/EntryForm.tsx
  packages/frontend/src/features/observation/inventory/inventory-form/InventoryForm.tsx
  packages/frontend/src/features/settings/SettingsPage.tsx
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/hooks/useUserSettingsContext.ts
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/services/api/me/api-me-queries.ts
  packages/frontend/src/services/api/me/settingsAtom.ts
  packages/frontend/src/services/api/settings/api-settings-queries.ts
Due: eslint-frontend, biome

feat(settings): use proper schema for settings update
  packages/common/src/api/me.ts
  packages/frontend/src/features/settings/SettingsPage.tsx
Due: eslint-frontend, biome

feat(settings): cleanup deprecated code
  packages/backend/src/application/http/api-routes.ts
  packages/backend/src/application/http/controllers/settings-controller.ts
  packages/backend/src/application/services/services.ts
  packages/backend/src/application/services/settings/settings-service.test.ts
  packages/backend/src/application/services/settings/settings-service.ts
  packages/common/src/api/settings.ts
Due: eslint-backend, biome

chore(import): check for user permissions to import
  packages/backend/src/application/http/import-routes.ts
Due: eslint-backend, biome

feat(observer): rework and integrate better structure
  packages/backend/src/__fixtures__/domain/observer/observer.fixtures.ts
  packages/backend/src/application/http/controllers/observers-controller.ts
  packages/backend/src/application/interfaces/observer-repository-interface.ts
  packages/backend/src/application/services/import/entities/import-donnee-service.ts
  packages/backend/src/application/services/import/entities/import-observateur-service.ts
  packages/backend/src/application/services/observer/observer-service.test.ts
  packages/backend/src/application/services/observer/observer-service.ts
  packages/backend/src/domain/observer/observer.ts
  packages/backend/src/domain/settings/settings.ts
  packages/backend/src/infrastructure/repositories/observer/observer-repository.ts
  packages/common/src/api/entities/inventory.ts
  packages/common/src/api/entities/observer.ts
  packages/common/src/api/observer.ts
  packages/frontend/src/features/manage/observateur/ObservateurDeleteDialog.tsx
  packages/frontend/src/features/manage/observateur/ObserverTableRow.tsx
  packages/frontend/src/features/observation/inventory/inventory-form/InventoryForm.tsx
  packages/frontend/src/services/api/observer/api-observer-queries.ts
Due: eslint-frontend, eslint-backend, biome

fix: update types
  packages/frontend/src/features/manage/observateur/ObservateurUpdate.tsx
  packages/frontend/src/features/observation/inventory/inventory-form/InventoryFormObserver.tsx
  packages/frontend/src/features/search/searchEntriesCriteriaAtom.ts
Due: eslint-frontend, biome

feat: set default order for entities
  packages/frontend/src/features/manage/age/AgeTable.tsx
  packages/frontend/src/features/manage/classe/ClasseTable.tsx
  packages/frontend/src/features/manage/commune/CommuneTable.tsx
  packages/frontend/src/features/manage/comportement/ComportementTable.tsx
  packages/frontend/src/features/manage/departement/DepartementTable.tsx
  packages/frontend/src/features/manage/espece/EspeceTable.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistanceTable.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombreTable.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitTable.tsx
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
  packages/frontend/src/features/manage/milieu/MilieuTable.tsx
  packages/frontend/src/features/manage/observateur/ObservateurTable.tsx
  packages/frontend/src/features/manage/sexe/SexeTable.tsx
  packages/frontend/src/hooks/usePaginationParams.ts
Due: eslint-frontend, biome

feat: add default order for entries
  packages/frontend/src/features/search/search-entries-table/SearchEntriesTable.tsx
Due: eslint-frontend, biome

feat: fix count columns width
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/manage/age/AgeTable.tsx
  packages/frontend/src/features/manage/classe/ClasseTable.tsx
  packages/frontend/src/features/manage/commune/CommuneTable.tsx
  packages/frontend/src/features/manage/comportement/ComportementTable.tsx
  packages/frontend/src/features/manage/departement/DepartementTable.tsx
  packages/frontend/src/features/manage/espece/EspeceTable.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistanceTable.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombreTable.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitTable.tsx
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
  packages/frontend/src/features/manage/milieu/MilieuTable.tsx
  packages/frontend/src/features/manage/observateur/ObservateurTable.tsx
  packages/frontend/src/features/manage/sexe/SexeTable.tsx
Due: eslint-frontend, biome

feat(observer): check permissions + check if delete is possible
  packages/backend/src/application/http/controllers/observers-controller.ts
  packages/backend/src/application/services/observer/observer-service.test.ts
  packages/backend/src/application/services/observer/observer-service.ts
  packages/backend/src/domain/shared/failure-reason.ts
Due: eslint-backend, biome

feat(observer): adjust ui access on manage page
  packages/frontend/src/features/manage/common/ManageTopBar.tsx
  packages/frontend/src/features/manage/common/TableCellActionButtons.tsx
  packages/frontend/src/features/manage/observateur/ObservateurPage.tsx
  packages/frontend/src/features/manage/observateur/ObserverTableRow.tsx
Due: eslint-frontend, biome

feat(controllers): cleanup useless default cases in result errors
  packages/backend/src/application/http/controllers/ages-controller.ts
  packages/backend/src/application/http/controllers/behaviors-controller.ts
  packages/backend/src/application/http/controllers/classes-controller.ts
  packages/backend/src/application/http/controllers/departments-controller.ts
  packages/backend/src/application/http/controllers/distance-estimates-controller.ts
  packages/backend/src/application/http/controllers/entries-controller.ts
  packages/backend/src/application/http/controllers/environments-controller.ts
  packages/backend/src/application/http/controllers/generate-export-controllers.ts
  packages/backend/src/application/http/controllers/geojson-controller.ts
  packages/backend/src/application/http/controllers/inventories-controller.ts
  packages/backend/src/application/http/controllers/localities-controller.ts
  packages/backend/src/application/http/controllers/number-estimates-controller.ts
  packages/backend/src/application/http/controllers/sexes-controller.ts
  packages/backend/src/application/http/controllers/species-controller.ts
  packages/backend/src/application/http/controllers/towns-controller.ts
  packages/backend/src/application/http/controllers/weathers-controller.ts
  packages/backend/src/application/services/sex/sex-service.ts
Due: eslint-backend, biome

feat(entity): prepare new info controller
  packages/backend/src/application/http/controllers/ages-controller.ts
  packages/backend/src/application/http/controllers/behaviors-controller.ts
  packages/backend/src/application/http/controllers/classes-controller.ts
  packages/backend/src/application/http/controllers/departments-controller.ts
  packages/backend/src/application/http/controllers/distance-estimates-controller.ts
  packages/backend/src/application/http/controllers/environments-controller.ts
  packages/backend/src/application/http/controllers/localities-controller.ts
  packages/backend/src/application/http/controllers/number-estimates-controller.ts
  packages/backend/src/application/http/controllers/sexes-controller.ts
  packages/backend/src/application/http/controllers/species-controller.ts
  packages/backend/src/application/http/controllers/towns-controller.ts
  packages/backend/src/application/http/controllers/weathers-controller.ts
  packages/common/src/api/common/entity-info.ts
  packages/common/src/api/observer.ts
Due: eslint-backend, biome

feat(entity): prepare deletion checks on entities
  packages/backend/src/application/http/controllers/ages-controller.ts
  packages/backend/src/application/http/controllers/behaviors-controller.ts
  packages/backend/src/application/http/controllers/classes-controller.ts
  packages/backend/src/application/http/controllers/departments-controller.ts
  packages/backend/src/application/http/controllers/distance-estimates-controller.ts
  packages/backend/src/application/http/controllers/environments-controller.ts
  packages/backend/src/application/http/controllers/localities-controller.ts
  packages/backend/src/application/http/controllers/number-estimates-controller.ts
  packages/backend/src/application/http/controllers/sexes-controller.ts
  packages/backend/src/application/http/controllers/species-controller.ts
  packages/backend/src/application/http/controllers/towns-controller.ts
  packages/backend/src/application/http/controllers/weathers-controller.ts
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/application/services/weather/weather-service.ts
Due: eslint-backend, biome

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

feat(weather): add legend for wind and cloud cover
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
Due: eslint-frontend, biome

feat(weather): add legend for wind and cloud cover (#2254)
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
Due: eslint-frontend, biome

Revert "chore(deps): bump protomaps-themes-base (#2259)"
  packages/frontend/package.json
  pnpm-lock.yaml
Due: biome

Revert "chore(deps): bump protomaps-themes-base (#2259)" (#2264)
  packages/frontend/package.json
  pnpm-lock.yaml
Due: biome

feat(entity): add methods to check if used
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.ts
Due: eslint-backend, biome

chore(town): prepare mocks for new tests
  packages/backend/src/application/services/town/town-service.test.ts
Due: eslint-backend, biome

feat(tests): prepare some test for new access checks
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
Due: eslint-backend, biome

feat(test): prepare dataset for new acces checks
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
Due: eslint-backend, biome

feat(entity): enforce permission checks on creation
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/application/services/weather/weather-service.ts
Due: eslint-backend, biome

feat(entity): implement perms check on update + add tests for create
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/observer/observer-service.test.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/application/services/weather/weather-service.ts
Due: eslint-backend, biome

feat(entity): add permission checks + use checks on delete
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/age/age-service.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/department/department-service.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/environment/environment-service.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/locality/locality-service.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/sex/sex-service.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/species/species-service.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/town/town-service.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/application/services/weather/weather-service.ts
Due: eslint-backend, biome

chore: remove more use of role
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/entities-utils.ts
  packages/backend/src/application/services/entry/entry-service.test.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/inventory/inventory-service.test.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/observer/observer-service.test.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/domain/entity-access/entity-access.ts
Due: eslint-backend, biome

chore: remove unused delete user service
  packages/backend/src/application/interfaces/user-repository-interface.ts
  packages/backend/src/application/services/user/user-service.test.ts
  packages/backend/src/application/services/user/user-service.ts
  packages/backend/src/infrastructure/repositories/user/user-repository.ts
Due: eslint-backend, biome

feat(perms): add permission to manage all entries
  packages/backend/src/domain/user/permission.test.ts
  packages/backend/src/domain/user/permissions.ts
  packages/backend/src/domain/user/role-permissions/admin.ts
  packages/backend/src/domain/user/role-permissions/contributor.ts
  packages/backend/src/domain/user/role-permissions/user.ts
Due: eslint-backend, biome

chore: continue deprecate use of role
  packages/backend/src/__fixtures__/domain/user/logged-user.fixtures.ts
  packages/backend/src/application/services/entry/entry-service.test.ts
  packages/backend/src/application/services/entry/entry-service.ts
  packages/backend/src/application/services/inventory/inventory-service.test.ts
  packages/backend/src/application/services/inventory/inventory-service.ts
  packages/backend/src/domain/user/logged-user.ts
Due: eslint-backend, biome

feat(permissions): hide create entities button if permission to create is not set
  packages/frontend/src/features/manage/age/AgePage.tsx
  packages/frontend/src/features/manage/classe/ClassePage.tsx
  packages/frontend/src/features/manage/common/ManageTopBar.tsx
  packages/frontend/src/features/manage/commune/CommunePage.tsx
  packages/frontend/src/features/manage/comportement/ComportementPage.tsx
  packages/frontend/src/features/manage/departement/DepartementPage.tsx
  packages/frontend/src/features/manage/espece/EspecePage.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistancePage.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombrePage.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitPage.tsx
  packages/frontend/src/features/manage/meteo/MeteoPage.tsx
  packages/frontend/src/features/manage/milieu/MilieuPage.tsx
  packages/frontend/src/features/manage/sexe/SexePage.tsx
Due: eslint-frontend, biome

feat(api): declare schemas forentity info
  packages/common/src/api/age.ts
  packages/common/src/api/behavior.ts
  packages/common/src/api/department.ts
  packages/common/src/api/distance-estimate.ts
  packages/common/src/api/environment.ts
  packages/common/src/api/locality.ts
  packages/common/src/api/number-estimate.ts
  packages/common/src/api/observer.ts
  packages/common/src/api/sex.ts
  packages/common/src/api/species-class.ts
  packages/common/src/api/species.ts
  packages/common/src/api/town.ts
  packages/common/src/api/weather.ts
Due: biome

feat(permissions): disable edit entities button when permission to edit is not set
  packages/frontend/src/features/manage/age/AgeTable.tsx
  packages/frontend/src/features/manage/classe/ClasseTable.tsx
  packages/frontend/src/features/manage/common/TableCellActionButtons.tsx
  packages/frontend/src/features/manage/commune/CommuneTable.tsx
  packages/frontend/src/features/manage/comportement/ComportementTable.tsx
  packages/frontend/src/features/manage/departement/DepartementTable.tsx
  packages/frontend/src/features/manage/espece/EspeceTable.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistanceTable.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombreTable.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitTable.tsx
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
  packages/frontend/src/features/manage/milieu/MilieuTable.tsx
  packages/frontend/src/features/manage/sexe/SexeTable.tsx
Due: eslint-frontend, biome

Path conditions:
  eslint-frontend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^packages/frontend/
  eslint-backend: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx} and ^packages/backend/
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
