Repository alexandresoro/ouca: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-frontend, eslint-backend, biome

lefthook.yml:

pre-commit:
  commands:
    eslint-frontend:
      root: "packages/frontend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    eslint-backend:
      root: "packages/backend/"
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint {staged_files}
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    test-frontend:
      root: "packages/frontend/"
      run: pnpm test
    test-common:
      root: "packages/common/"
      run: pnpm test
    test-backend:
      root: "packages/backend/"
      run: pnpm test

feat(roles): add simple user role
  packages/backend/src/__fixtures__/domain/user/logged-user.fixtures.ts
  packages/backend/src/application/services/age/age-service.test.ts
  packages/backend/src/application/services/behavior/behavior-service.test.ts
  packages/backend/src/application/services/department/department-service.test.ts
  packages/backend/src/application/services/distance-estimate/distance-estimate-service.test.ts
  packages/backend/src/application/services/entry/entry-service.test.ts
  packages/backend/src/application/services/environment/environment-service.test.ts
  packages/backend/src/application/services/inventory/inventory-service.test.ts
  packages/backend/src/application/services/locality/locality-service.test.ts
  packages/backend/src/application/services/number-estimate/number-estimate-service.test.ts
  packages/backend/src/application/services/observer/observer-service.test.ts
  packages/backend/src/application/services/sex/sex-service.test.ts
  packages/backend/src/application/services/species-class/species-class-service.test.ts
  packages/backend/src/application/services/species/species-service.test.ts
  packages/backend/src/application/services/town/town-service.test.ts
  packages/backend/src/application/services/user/user-service.test.ts
  packages/backend/src/application/services/weather/weather-service.test.ts
  packages/backend/src/domain/entity-access/entity-access.test.ts
  packages/backend/src/domain/user/user-role.ts
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/user-profile/UserProfilePage.tsx
Due: eslint-frontend, eslint-backend, biome

chore: cleanup unused translations
  packages/frontend/public/locales/fr/translation.json
Due: biome

feat(user): small rework to expose role properly
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterPanel.tsx
  packages/frontend/src/features/user-profile/UserProfilePage.tsx
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/utils/user-profile/usernameUtils.ts
Due: eslint-frontend, biome

feat(import): quick poc on ui
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/import/ImportPage.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/services/api/useFetchWithAuth.ts
  packages/frontend/src/utils/fetch-api.ts
Due: eslint-frontend, biome

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

chore(import): rename types to en
  packages/backend/src/application/services/import/entities/import-service-per-request-type.ts
  packages/common/src/import/import-types.ts
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/import/ImportPage.tsx
Due: eslint-frontend, eslint-backend, biome

chore: small ui improvement
  packages/frontend/src/features/header/HeaderSettings.tsx
Due: eslint-frontend, biome

feat(import): add beta quality import
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/components/base/select/Select.tsx
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/import/ImportPage.tsx
  packages/frontend/src/features/import/ImportStatusPanel.tsx
  packages/frontend/src/services/api/useQueryWithAuth.ts
  packages/frontend/src/services/app-features/features.ts
  packages/frontend/src/utils/dom/file-download-helper.ts
  pnpm-lock.yaml
Due: eslint-frontend, biome

fix(api): proper solution for accessing API URL but not api path
  packages/frontend/src/features/import/ImportPage.tsx
  packages/frontend/src/services/api/useApiFetch.ts
  packages/frontend/src/services/api/useApiQuery.ts
  packages/frontend/src/services/api/useApiUrl.ts
  packages/frontend/src/services/api/useFetchWithAuth.ts
Due: eslint-frontend, biome

feat(inventory): filter inventory navigation by owner
  packages/backend/src/application/interfaces/inventory-repository-interface.ts
  packages/backend/src/application/services/inventory/inventory-service.test.ts
  packages/backend/src/application/services/inventory/inventory-service.ts
  packages/backend/src/domain/inventory/inventory.ts
  packages/backend/src/infrastructure/repositories/inventory/inventory-repository.ts
Due: eslint-backend, biome

fix(entry): prevent update of an entry by non owner
  packages/backend/src/application/services/entry/entry-service.test.ts
  packages/backend/src/application/services/entry/entry-service.ts
Due: eslint-backend, biome

feat(entry): filter entry navigation to only owned ones
  packages/backend/src/application/interfaces/entry-repository-interface.ts
  packages/backend/src/application/services/entry/entry-service.test.ts
  packages/backend/src/application/services/entry/entry-service.ts
  packages/backend/src/domain/entry/entry.ts
  packages/backend/src/infrastructure/repositories/entry/entry-repository.ts
Due: eslint-backend, biome

feat(api): return ownerId of entities
  packages/common/src/api/entities/age.ts
  packages/common/src/api/entities/behavior.ts
  packages/common/src/api/entities/department.ts
  packages/common/src/api/entities/distance-estimate.ts
  packages/common/src/api/entities/environment.ts
  packages/common/src/api/entities/locality.ts
  packages/common/src/api/entities/number-estimate.ts
  packages/common/src/api/entities/observer.ts
  packages/common/src/api/entities/sex.ts
  packages/common/src/api/entities/species-class.ts
  packages/common/src/api/entities/species.ts
  packages/common/src/api/entities/town.ts
  packages/common/src/api/entities/weather.ts
Due: biome

feat(me): get own profile info endpoint + rework introspection caching
  packages/backend/src/application/http/api-routes.ts
  packages/backend/src/application/http/controllers/access-token-utils.ts
  packages/backend/src/application/http/controllers/me-controller.ts
  packages/backend/src/application/http/controllers/user-controller.ts
  packages/backend/src/application/http/hooks/handle-authorization-hook.ts
  packages/backend/src/application/services/oidc/oidc-service.ts
  packages/common/src/api/me.ts
Due: eslint-backend, biome

chore(me): use better return code if internal user not found
  packages/backend/src/application/http/controllers/me-controller.ts
Due: eslint-backend, biome

feat(me): integrate endpoint and rework user profile
  packages/frontend/src/features/header/HeaderSettings.tsx
  packages/frontend/src/features/import/ImportPage.tsx
  packages/frontend/src/features/search/search-filter-panel/SearchFilterPanel.tsx
  packages/frontend/src/features/user-profile/UserProfilePage.tsx
  packages/frontend/src/hooks/useUser.ts
  packages/frontend/src/services/api/me/api-me-queries.ts
  packages/frontend/src/utils/name-utils.ts
Due: eslint-frontend, biome

feat(name): add pseudodym generator
  packages/frontend/package.json
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/user-profile/UserProfilePage.tsx
  packages/frontend/src/services/unique-name/dictionaries/adjectives.json
  packages/frontend/src/services/unique-name/dictionaries/animals.json
  packages/frontend/src/services/unique-name/unique-name.ts
  pnpm-lock.yaml
Due: eslint-frontend, biome

feat(settings): remove use of id in repo
  packages/backend/src/domain/settings/settings.ts
  packages/backend/src/infrastructure/kysely/database/Settings.ts
  packages/backend/src/infrastructure/repositories/settings/settings-repository.ts
Due: eslint-backend, biome

chore(coords): get rid of deprecated coords system in backend
  packages/backend/src/application/services/import/entities/import-donnee-service.ts
  packages/backend/src/application/services/import/entities/import-lieudit-service.ts
Due: eslint-backend, biome

feat: update dictionaries
  packages/frontend/src/services/unique-name/dictionaries/adjectives.json
  packages/frontend/src/services/unique-name/dictionaries/animals.json
Due: biome

feat: add owner in entities tables
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/components/common/AvatarWithUniqueName.tsx
  packages/frontend/src/features/manage/age/AgeTable.tsx
  packages/frontend/src/features/manage/classe/ClasseTable.tsx
  packages/frontend/src/features/manage/common/TableCellActionButtons.tsx
  packages/frontend/src/features/manage/commune/CommuneTable.tsx
  packages/frontend/src/features/manage/comportement/ComportementTable.tsx
  packages/frontend/src/features/manage/departement/DepartementTable.tsx
  packages/frontend/src/features/manage/espece/EspeceTable.tsx
  packages/frontend/src/features/manage/estimation-distance/EstimationDistanceTable.tsx
  packages/frontend/src/features/manage/estimation-nombre/EstimationNombreTable.tsx
  packages/frontend/src/features/manage/lieu-dit/LieuDitTable.tsx
  packages/frontend/src/features/manage/meteo/MeteoTable.tsx
  packages/frontend/src/features/manage/milieu/MilieuTable.tsx
  packages/frontend/src/features/manage/observateur/ObservateurTable.tsx
  packages/frontend/src/features/manage/observateur/ObserverTableRow.tsx
  packages/frontend/src/features/manage/sexe/SexeTable.tsx
Due: eslint-frontend, biome

feat: change disabled button background
  packages/frontend/src/components/base/IconButton.tsx
  packages/frontend/src/features/manage/common/TableCellActionButtons.tsx
Due: eslint-frontend, biome

chore(profile): redesign a bit nickname display
  packages/frontend/public/locales/fr/translation.json
  packages/frontend/src/features/user-profile/UserProfilePage.tsx
Due: eslint-frontend, biome

feat(user): rework database table and add settings column
  packages/backend/migrations/2024.03.30T21.07.53.add-settings-to-user-table.sql
  packages/backend/migrations/down/2024.03.30T21.07.53.add-settings-to-user-table.sql
  packages/backend/src/infrastructure/kysely/database/User.ts
  packages/backend/src/infrastructure/repositories/user/user-repository.ts
Due: eslint-backend, biome

feat(user): add new settings structure to domain
  packages/backend/src/__fixtures__/domain/user/user.fixtures.ts
  packages/backend/src/application/http/controllers/me-controller.ts
  packages/backend/src/domain/user/user.ts
  packages/common/src/api/me.ts
Due: eslint-backend, biome

feat(user): update new settings when updating legacy structure
  packages/backend/src/application/interfaces/user-repository-interface.ts
  packages/backend/src/application/services/services.ts
  packages/backend/src/application/services/settings/settings-service.test.ts
  packages/backend/src/application/services/settings/settings-service.ts
  packages/backend/src/application/services/user/user-service.ts
  packages/backend/src/infrastructure/repositories/user/user-repository.ts
Due: eslint-backend, biome

feat(user): keep cache optimization only on invariant fields
  packages/backend/src/application/interfaces/user-repository-interface.ts
  packages/backend/src/application/services/oidc/oidc-service.ts
  packages/backend/src/application/services/user/user-service.ts
  packages/backend/src/infrastructure/repositories/user/user-repository.ts
Due: eslint-backend, biome

fix: names
  packages/backend/src/application/interfaces/user-repository-interface.ts
  packages/backend/src/application/services/user/user-service.ts
Due: eslint-backend, biome

feat(user): backfill new settings structure with legacy data
  packages/backend/migrations/2024.03.30T22.35.33.populate_settings_in_user.sql
  packages/backend/migrations/down/2024.03.30T22.35.33.populate_settings_in_user.sql
Due: none

feat(settings): rely on new structure
  packages/backend/src/application/services/settings/settings-service.test.ts
  packages/backend/src/application/services/settings/settings-service.ts
Due: eslint-backend, biome

fix(settings): issue with undefined values on save
  packages/backend/src/application/services/settings/settings-service.test.ts
  packages/backend/src/application/services/settings/settings-service.ts
Due: eslint-backend, biome

chore(settings): get rid of code related to legacy table
  packages/backend/src/__fixtures__/domain/settings/settings.fixtures.ts
  packages/backend/src/application/interfaces/settings-repository-interface.ts
  packages/backend/src/application/services/services.ts
  packages/backend/src/application/services/settings/settings-service.test.ts
  packages/backend/src/application/services/settings/settings-service.ts
  packages/backend/src/infrastructure/kysely/database/Settings.ts
  packages/backend/src/infrastructure/kysely/kysely.ts
  packages/backend/src/infrastructure/repositories/settings/settings-repository.ts
  packages/backend/src/infrastructure/repositories/user/user-repository.ts
Due: eslint-backend, biome

feat(settings): drop unused table
  packages/backend/migrations/2024.03.31T19.49.34.drop_settings_table.sql
  packages/backend/migrations/down/2024.03.31T19.49.34.drop_settings_table.sql
Due: none

feat(entry): move to proper storage of string ids
  packages/backend/migrations/2024.03.31T19.55.22.change_type_entity_id.sql
  packages/backend/migrations/down/2024.03.31T19.55.22.change_type_entity_id.sql
  packages/backend/package.json
  packages/backend/src/infrastructure/kysely/database/Entry.ts
  packages/backend/src/infrastructure/kysely/database/EntryBehavior.ts
  packages/backend/src/infrastructure/kysely/database/EntryEnvironment.ts
  packages/backend/src/infrastructure/repositories/entry/entry-repository-reshape.ts
  packages/backend/src/infrastructure/repositories/entry/entry-repository.ts
  packages/backend/src/infrastructure/repositories/inventory/inventory-repository.ts
  packages/backend/src/infrastructure/repositories/search-criteria.ts
  pnpm-lock.yaml
Due: eslint-backend, biome

feat(user): expose update settings on me controller
  packages/backend/src/__fixtures__/domain/user/user.fixtures.ts
  packages/backend/src/application/http/controllers/me-controller.ts
  packages/backend/src/application/http/hooks/handle-authorization-hook.ts
  packages/backend/src/application/services/settings/settings-service.ts
  packages/backend/src/application/services/user/user-service.test.ts
  packages/backend/src/application/services/user/user-service.ts
  packages/common/src/api/me.ts
Due: eslint-backend, biome

feat(user): expose hook to update user settings
  packages/frontend/src/services/api/me/api-me-queries.ts
  packages/frontend/src/services/api/observer/api-observer-queries.ts
  packages/frontend/src/services/api/useApiMutation.ts
Due: eslint-frontend, biome
